.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  color: white;
  font-size: 1.4rem;
 
}
.title {
  font-size: 3rem;
  color: #08fdd8;
  margin-bottom: 20px;
}
.contact {
  color: #08fdd8;
  cursor: pointer;
  margin-top: 20px;
  size: 1rem;
}
.right {
  width: 50%;
  height: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: #08fdd8;
  opacity: .3;
 
}
.curves{
  position: absolute;
  height: 100vh;

  top: 0;
  left: -10%;
  
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column !important;
    height: 200vh;
  }
  .left {
    width: 100% !important;
    height: 100vh !important;
  }
  .right {
    width: 100% !important;
    height: 100vh !important;
  }
}
