.container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100vh;


}

.left {
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  color: white;
  font-size: 1.4rem;
}

.title {
  font-size: 3rem;
  color: #08fdd8;
  margin-bottom: 20px;
}

.right {
  position: relative;
  width: 55%;
  height: 100vh;
  overflow: hidden;
  background-color: #08fdd8;
}

.catch {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 50%;
  padding: 10px;
  font-size: 2.5rem;
  color: #1c1c1c;
}

.form {
  display: flex;
  padding:10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  z-index: 999;
}

.input {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
  height: 50px;
  min-height: 50px;
  background-color: transparent;
  outline: none;
  color: white;
  padding: 3px;
  border: 1px solid #08fdd8;
}

.column {
  width: 49%;
}
.twoColumns {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom:5px;
}


.curves {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #08fdd8;
}
.error{
  color:red;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction:column !important;
    height: auto;
  }
  .left {
    width: 100% !important;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .title{
    font-size: 2rem;
  }
  .right {
    width: 100% !important;
    height: 90vh !important;
    
  }
  .form {
    width: 70vw;
  }
  .row {
    flex-direction: column !important;
    align-items: flex-start;
    
  }
  .column {
    width: 100%;
  }
  .input {
    background-color: transparent;
  }

  .input {
    border: 1px solid #08fdd8;
  }
  .input:focus {
    border: 1px solid white;
  }
}
@media screen and (max-width: 375px) {

  .title{
    font-size: 1.5rem;

    
  }
  }
