.modal {
  color: white;
  position: fixed;
  z-index: 1002;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.85;
  background-color: #1c1d1c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modalBody {
  position: relative;
  opacity: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 60%;
}
.modalImg {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.modalButton {
  margin-top: 20px;
  background-color: #08fdd8;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.7rem;
  cursor: pointer;
}
@media screen and (max-width:768px) {
  .modalBody{
    height: 60% !important;
  }
}
