
.container{
    width:100%;
 
    display: flex;
    align-items: center;
    height: 100vh !important;
    overflow: hidden ;
}

.left{
     width: 50%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding: 40px;
     color: white;
     font-size: 1.4rem;
}
.title{
  font-size: 3rem;
  color:#08fdd8;
  margin-bottom: 20px;
}
.contact {
  color: #08fdd8;
  cursor: pointer;
  margin-top: 20px;
  size: 1rem;
}
.right{
    width: 50%;
    height: 100vh;
    position: relative;

    background-color: #08fdd8;
}
.item{
    margin-left: 20px;
    margin-bottom: 10px;
   
}
.curves{
  position: absolute;
  height: 100vh;
  transform: scaleY(-1);
  top: 0;
  left: -10%;
  
}
@media  screen and (max-width:768px){
     .container{
       display: flex;
       flex-direction: column !important;
       height: 150vh !important;
      }
      .left{
        width:100% !important;
      
        height: 70vh !important;


     }
     .right{
      width:100% !important;
      height: 80vh !important;
     }
     .curves{
   
      transform: scaleY(1) !important;
  
      
    }
   
}


